.air-conditing__state {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: var(--air-conditing-state);
  border-radius: 50%;
}

.fan {
  position: absolute;
  width: 110px;
  top: 45px;
  right: 44px;
}

.temperature-input,
.temperature-output {
  width: 60px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  border: none;
  margin-right: 10px;
  font-size: 20px;
}

.temperature-output {
  margin-left: 10px;
}