.rooms {
    display: flex;
    flex-direction: row;
}

.app-logo {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.rooms__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background:rgba(2, 224, 249, 0.652);
    height: 100vh;
    border-radius: 20px;
    gap: 10px;
    border: 1px solid black;
}

.rooms__name {
    width: 115px;
    height: 35px;
    border-radius: 20px;
}

#rooms-name {
    width: 140px;
    height: 32px;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Andika";
    text-align: center;
    align-items: center;
    border: none;
}

.rooms__name:hover {
    cursor: pointer;
    background: var(--hover-background);
}

.checked {
    background-color: var(--checked-background);
}

.rooms__devices,
.all-rooms__devices{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;

}

.rooms__device {
    width: 300px;
    height: 470px;
    background-color:rgba(2, 237, 249, 0.652);
    border-radius: 10px;
    border: 1px solid black;
}

.rooms__button,
.add-light,
.delete-light,
.add-air-conditing,
.delete-air-conditing,
.delete__btn {
    width: 115px;
    height: 35px;
    border-radius: 20px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.deleteroom,
.delete-light,
.delete-air-conditing {
    background-color: red; 
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.add-light,
.delete-light,
.add-air-conditing,
.delete-air-conditing {
    width: 125px;
}   

#clock {
    font-size: 23px;
    font-weight: 700;
}